.cat{
    display: flex;
    margin: 25px ;
    padding: 20px;
    
    font-size: larger;
    color: #fff;
    text-align:right;
    background-color: rgb(175, 148, 83);
}

.cat-image{
    height: 200px;
    width: 300px;
    background-size: cover;
}