.booking {
  margin: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin-top for spacing */
}

.button-container > button{
    margin: 10px 0 10px 0;
    padding: 5px 10px;
    font-size: larger;
    border-radius: 10%;
    background-color: white;
    transition: all linear 0.3s;
}

.button-container > button:hover{
    background-color: goldenrod;
    border-color: transparent;
}