.block {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
}

.custom-time-picker {
  margin: 15px 0;
  min-width: 200px;
}

.event_details > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.event_details > div > input,  .event_details > div > textarea{
  margin: 15px 0;
}

.calendar{
  width: 450px !important;
}